mixin iconText(icon1="",iconTitle1="",iconInfo1="",icon2="",iconTitle2="",iconInfo2="")
    .icontext__box
        .icontext__form
            span.material-icons-outlined.icontext__icon=icon1
            .icontext__text
                p.icontext__text-title=iconTitle1
                p.icontext__text-info=iconInfo1
        .icontext__form
            span.material-icons-outlined.icontext__icon=icon2
            .icontext__text
                p.icontext__text-title=iconTitle2
                p.icontext__text-info=iconInfo2