mixin expCheckbox(title="",checkItem1="",checkItem2="",checkItem3="",checkItem4="",checkItem5="")
    .expanded__checkbox
        .expanded__checkbox___top
            h3.expanded__checkbox___title=title
            .expanded__checkbox__caret
                span.material-icons-outlined expand_more
        ul.expanded__checkbox__menu
            li.expanded__checkbox__item
                .expanded__checkbox__checkbox
                    label.checkbox__label=checkItem1
                        input.checkbox__input(type="checkbox")
                        span.checkbox__style
            li.expanded__checkbox__item
                .expanded__checkbox__checkbox
                    label.checkbox__label=checkItem2
                        input.checkbox__input(type="checkbox")
                        span.checkbox__style 
            li.expanded__checkbox__item
                .expanded__checkbox__checkbox
                    label.checkbox__label=checkItem3
                        input.checkbox__input(type="checkbox")
                        span.checkbox__style
            li.expanded__checkbox__item
                .expanded__checkbox__checkbox
                    label.checkbox__label=checkItem4
                        input.checkbox__input(type="checkbox")
                        span.checkbox__style
            li.expanded__checkbox__item
                .expanded__checkbox__checkbox
                    label.checkbox__label=checkItem5
                        input.checkbox__input(type="checkbox")
                        span.checkbox__style