mixin rateStar(active="material-symbols-outlined")
    .rate-star__form
        .rate-star__inner
            span.material-icons-outlined.rate-star.star1(class=active) star_border
            span.material-icons-outlined.rate-star.star2(class=active) star_border
            span.material-icons-outlined.rate-star.star3(class=active) star_border
            span.material-icons-outlined.rate-star.star4(class=active) star_border
            span.material-icons-outlined.rate-star.star5(class=active) star_border