include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
        title form-elements
    body
        img.pageLogo(src=require('./images/page-logo.jpg') alt='Pfuhdasdasdas')
        .container
            .dropdown-test
                h3 dropdown
                include pug/_dropdown
                include pug/_dropdown
                include pug/_custom-dropdown
                include pug/_custom-dropdown
                include pug/_checkbox
            .radio
                h3 Checkbox Buttons
                .radio__box
                    include pug/_radio
                    .radio__form
                        label.radio__label Мужчина
                            input.radio__input(type="radio" name="gender" checked)
                            span.radio__style
                    .radio__form
                        label.radio__label Женщина
                            input.radio__input(type="radio" name="gender")
                            span.radio__style
            .buttons
                h3 buttons
                .button__box
                    .button__form
                        .button
                        button.button-clickme
                            h3.button__title-clickme CLICK ME
                    .button__form
                        .button
                        button.button-clickme.button-ckickme_hovered
                            h3.button__title-clickme CLICK ME
                    .button__form
                        .button__cradient
                            h3.button__title-clickme.button__title-gradient CLICK ME
                    .button__form
                        .button__cradient.button__cradient-hovered
                            h3.button__title-clickme.button__title-gradient CLICK ME
                    .button__form
                        .button-clickme_ot
                            h3.button__title-clickme.button__title-clickme_ot CLICK ME
                    .button__form
                        .button-clickme_ot
                            h3.button__title-clickme.button__title-clickme_ot.button__title-clickme_ot-hovered CLICK ME
                    .button__form
                        .button
                        button.button-clickme.button-payment
                            h3.button__title-clickme перейти к оплате
                            span.material-symbols-outlined.button__arrow arrow_forward
            .toggle
                .toggle__box
                    .toggle__form
                        .checkbox__form
                            label.switch__checkbox__label Получать спецпредложения
                                input.switch__checkbox__input(type="checkbox" checked )
                                span.switch__checkbox__style
                            .checkbox__form
                            label.switch__checkbox__label Получать спецпредложения
                                input.switch__checkbox__input(type="checkbox")
                                span.switch__checkbox__style
            .input
                .input__box
                    .input__form
                        input.input__textfield(type="text" placeholder="Email")
                .input__box
                    .input__form
                        input.input__textfield.input__textfield-hovered(type="text" placeholder="Email" value="This is pretty awesome") 
            .bulletlist
                .bulletlist__box
                    .bulletlist__form
                        ul.bulletlist__list
                            li.bulletlist__item
                                .bulletlist__disk 
                                p.bulletlist__text Нельзя с питомцами
                            li.bulletlist__item
                                .bulletlist__disk
                                p.bulletlist__text Без вечеринок и мероприятий
                            li.bulletlist__item
                                .bulletlist__disk
                                p.bulletlist__text Время прибытия — после 13:00, а выезд до 12:00
            .expanded__checkbox-test
                .expanded__checkbox
                    .expanded__checkbox___top
                        h3.expanded__checkbox___title expandable checkbox list
                        .expanded__checkbox__caret
                            span.material-icons-outlined expand_more
                    ul.expanded__checkbox__menu
                        li.expanded__checkbox__item
                            .expanded__checkbox__checkbox
                                label.checkbox__label Завтрак
                                    input.checkbox__input(type="checkbox")
                                    span.checkbox__style
                        li.expanded__checkbox__item
                            .expanded__checkbox__checkbox
                                label.checkbox__label Письменный стол
                                    input.checkbox__input(type="checkbox")
                                    span.checkbox__style 
                        li.expanded__checkbox__item
                            .expanded__checkbox__checkbox
                                label.checkbox__label Кроватка
                                    input.checkbox__input(type="checkbox")
                                    span.checkbox__style
                        li.expanded__checkbox__item
                            .expanded__checkbox__checkbox
                                label.checkbox__label Телевизор
                                    input.checkbox__input(type="checkbox")
                                    span.checkbox__style
                        li.expanded__checkbox__item
                            .expanded__checkbox__checkbox
                                label.checkbox__label Шампунь
                                    input.checkbox__input(type="checkbox")
                                    span.checkbox__style
                .expanded__checkbox
                    .expanded__checkbox___top
                        h3.expanded__checkbox___title expandable checkbox list
                        .expanded__checkbox__caret
                            span.material-icons-outlined.expanded__caret expand_more
                    ul.expanded__checkbox__menu
                        li.expanded__checkbox__item
                            .expanded__checkbox__checkbox
                                label.checkbox__label Завтрак
                                    input.checkbox__input(type="checkbox")
                                    span.checkbox__style
                        li.expanded__checkbox__item
                            .expanded__checkbox__checkbox
                                label.checkbox__label Письменный стол
                                    input.checkbox__input(type="checkbox")
                                    span.checkbox__style 
                        li.expanded__checkbox__item
                            .expanded__checkbox__checkbox
                                label.checkbox__label Кроватка
                                    input.checkbox__input(type="checkbox")
                                    span.checkbox__style
                        li.expanded__checkbox__item
                            .expanded__checkbox__checkbox
                                label.checkbox__label Телевизор
                                    input.checkbox__input(type="checkbox")
                                    span.checkbox__style
                        li.expanded__checkbox__item
                            .expanded__checkbox__checkbox
                                label.checkbox__label Шампунь
                                    input.checkbox__input(type="checkbox")
                                    span.checkbox__style
            .like-test
                .like
                    h3 like button
                    .like__box
                        .like__form
                            span.like__form-heart.material-icons-outlined favorite_border
                            span.like__form-number 12
                .like
                    .like__box
                        .like__form
                            span.like__form-heart.material-icons-outlined favorite_border
                            span.like__form-number 12
                .like
                    .like__box
                        .like__form.like__form-liked 
                            span.like__form-heart.like__form-heart-liked.material-symbols-outlined favorite
                            span.like__form-number.like__form-number-liked 13

            .rate-star
                h3 Rate button
                .rate-star__box
                    .rate-star__form
                        .rate-star__inner
                            input.rate-star__input(type="radio" name="rating-star" id="5")
                            label.rate-star__label(for="5")
                            input.rate-star__input(type="radio" name="rating-star" id="4")
                            label.rate-star__label(for="4")
                            input.rate-star__input(type="radio" name="rating-star" id="3")
                            label.rate-star__label(for="3")
                            input.rate-star__input(type="radio" name="rating-star" id="2")
                            label.rate-star__label(for="2")
                            input.rate-star__input(type="radio" name="rating-star" id="1")
                            label.rate-star__label(for="1")
            .calendar
                .calendar__box
                    .calendar__form
                        .calendar__top
                            span.material-icons-outlined.date-arrow(id="prev")  arrow_back
                            p.current-date 
                            span.material-icons-outlined.date-arrow(id="next") arrow_forward    
                        .calendar__menu
                            ul.weeks
                                li
                                    h3.date-title Пн
                                li
                                    h3.date-title Вт
                                li
                                    h3.date-title Ср
                                li
                                    h3.date-title Чт
                                li
                                    h3.date-title Пт
                                li
                                    h3.date-title Сб
                                li
                                    h3.date-title Вс
                            ul.days
                    .calendar__form
                        .calendar__top
                            span.material-icons-outlined.date-arrow(id="prev")  arrow_back
                            p.current-date 
                            span.material-icons-outlined.date-arrow(id="next") arrow_forward    
                        .calendar__menu
                            ul.weeks
                                li
                                    h3.date-title Пн
                                li
                                    h3.date-title Вт
                                li
                                    h3.date-title Ср
                                li
                                    h3.date-title Чт
                                li
                                    h3.date-title Пт
                                li
                                    h3.date-title Сб
                                li
                                    h3.date-title Вс
                            ul.days
            .icontext
                .icontext__box
                    .icontext__form
                        span.material-icons-outlined.icontext__icon insert_emoticon
                        .icontext__text
                            p.icontext__text-title Комфорт
                            p.icontext__text-info Шумопоглощающие стены
                    .icontext__form
                        span.material-icons-outlined.icontext__icon location_city
                        .icontext__text
                            p.icontext__text-title Удобство
                            p.icontext__text-info Окно в каждой из спален
            .comment
                .comment__box 
                    h3 Comment
                    .comment__form 
                        .comment__top
                            //- .comment__top-img
                            img.comment__top-img(src=require("./images/profile-logo.png") alt="Murad-logo")
                            .comment__top-text
                                p.comment__top-text_title Мурад Сарафанов
                                p.comment__top-text_info 5 дней назад
                        .comment__bot
                            .like__box
                                .like__form
                                    span.like__form-heart.material-icons-outlined favorite_border
                                    span.like__form-number 12
                            p.comment__bot-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
            .pagination
                .pagination__box
                    .pagination__card
                        .pagintaion__card-img 
                        .pagintaion__card-text 
                            .pagination__card-text-top__inner
                                .pagination__card-text-top
                                    p.pagination__card-text-top__num №<strong class="pag_strong-num">888</strong>
                                    p.pagination__card-text-top__lux люкс
                                p.pagination__card-text-top__price <strong class="pag_strong">9 990₽</strong> в сутки
                            .pagination__card-text-bot__inner
                                .pagination__card-text-bot__rate
                                    .rate-star__form
                                        .rate-star__inner
                                            input.rate-star__input(type="radio" name="rating-star" id="5")
                                            label.rate-star__label(for="5")
                                            input.rate-star__input(type="radio" name="rating-star" id="4")
                                            label.rate-star__label(for="4")
                                            input.rate-star__input(type="radio" name="rating-star" id="3")
                                            label.rate-star__label(for="3")
                                            input.rate-star__input(type="radio" name="rating-star" id="2")
                                            label.rate-star__label(for="2")
                                            input.rate-star__input(type="radio" name="rating-star" id="1")
                                            label.rate-star__label(for="1")
                                .pagination__card-text-bot__rev
                                    p.pagination__card-text-bot__rev-text <strong>145</strong> Отзывов 
                    .pagination__form
            .slider-test
                .slider__box 
                    .slider__form
                        .slider
                            img.slider__img(src=require("./images/pag-card1.png") alt="Murad-logo" )
                            img.slider__img(src=require("./images/pag-card2.png") alt="Murad-logo")
                            img.slider__img(src=require("./images/pag-card3.png") alt="Murad-logo")
                            img.slider__img(src=require("./images/pag-card4.png") alt="Murad-logo")
                        .slider__btn
                            p.prev.material-icons-outlined chevron_left
                            p.next.material-icons-outlined chevron_right
                        .slider__dot
                            span.dot
                            span.dot
                            span.dot
                            span.dot

