doctype html
html(lang='en')
    include pug/_head
        title Room
    body.body-room
        .search-room__page
            header.header.header-main.room__page__header
                .container-large
                    .header__box
                        .header__form 
                            .container
                                .header__inner
                                    .header__logo.header-left
                                        a.header__logo-link(href="landing-page.html")
                                            img.header__logo-logo(src=require('./images/header-logo.svg') alt='header-logo')
                                        a.header__logo-link(href="landing-page.html")
                                            img.header__logo-icon(src=require('./images/TOXIN-icon.svg') alt='TOXIN-icon')
                                    .header-right
                                        nav.header__nav
                                            ul.header__nav-list
                                                li.header__nav-items 
                                                    a.header__nav-link <strong class ="nav__strong">О нас</strong>   
                                                li.header__nav-items
                                                    .header__nav_component
                                                        a.header__nav-link Услуги
                                                        span.header__nav-link__caret.material-symbols-outlined expand_more
                                                li.header__nav-items
                                                    a.header__nav-link Вакансии
                                                li.header__nav-items
                                                    a.header__nav-link Новости
                                                li.header__nav-items
                                                    .header__nav_component
                                                        a.header__nav-link Соглашения
                                                        span.header__nav-link__caret.material-symbols-outlined expand_more
                                        .header__btns
                                            .button__form.button__form-gradient
                                                a(href="login.html")
                                                    button.button__gradient войти
                                            .button__form
                                                a(href="registration.html")
                                                    button.button__default.button__default-header зарегистрироваться
            main.room__page-main
                .container-large.room-img
                .container
                    .room__inner
                        .room__info
                            .room__info-data
                                .room__info-data__icon-text
                                    h3.room__info-data__icon-text-title Сведения о номере
                                    .icontext__box
                                        .icontext__form
                                            span.material-icons-outlined.icontext__icon insert_emoticon
                                            .icontext__text
                                                p.icontext__text-title Комфорт
                                                p.icontext__text-info Шумопоглощающие стены
                                        .icontext__form
                                            span.material-icons-outlined.icontext__icon location_city
                                            .icontext__text
                                                p.icontext__text-title Удобство
                                                p.icontext__text-info Окно в каждой из спален
                                        .icontext__form.icontext__form-spc
                                            span.material-icons-outlined.icontext__icon whatshot
                                            .icontext__text
                                                p.icontext__text-title Удобство
                                                p.icontext__text-info Окно в каждой из спален      
                                .room__info-data__icon-graf
                                    h3.room__info-data__icon-graf-title Впечатления от номера
                                    .room__info-data__icon-graf-inner
                                        .room__timetable
                                            .room__timetable-inner
                                                p.room__timetable-inner__nummber 260 
                                                p.room__timetable-inner__voice голосов
                                        .room__timetable-info
                                            ul.room__timetable-info__list
                                                li.room__timetable-info__item
                                                    .room__timetable-info-dick.room__timetable-info-dick1
                                                    p.room__timetable-info-text Великолепно
                                            ul.room__timetable-info__list
                                                li.room__timetable-info__item
                                                    .room__timetable-info-dick.room__timetable-info-dick2
                                                    p.room__timetable-info-text Хорошо
                                            ul.room__timetable-info__list
                                                li.room__timetable-info__item
                                                    .room__timetable-info-dick.room__timetable-info-dick3
                                                    p.room__timetable-info-text Удовлетворительно
                                            ul.room__timetable-info__list
                                                li.room__timetable-info__item
                                                    .room__timetable-info-dick.room__timetable-info-dick4
                                                    p.room__timetable-info-text Разочаровано
                            .room__comments
                                .room__comments-top
                                    h3.room__comments-title Отзывы посетителей номера
                                    p.room__comments-counetr 2 отзыва
                                .comment__form 
                                    .comment__top
                                        img.comment__top-img(src=require("./images/user-1.jpg") alt="Murad-logo")
                                        .comment__top-text
                                            p.comment__top-text_title Мурад Сарафанов
                                            p.comment__top-text_info 5 дней назад
                                    .comment__bot
                                        .like__box
                                            .like__form.like__form-liked
                                                span.like__form-heart.material-symbols-outlined.like__form-heart-liked favorite_border
                                                span.like__form-number.like__form-number-liked 12
                                        p.comment__bot-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
                                .comment__form 
                                    .comment__top
                                        img.comment__top-img(src=require("./images/user-2.jpg") alt="Murad-logo")
                                        .comment__top-text
                                            p.comment__top-text_title Патрисия Стёклышкова
                                            p.comment__top-text_info Неделю назад
                                    .comment__bot
                                        .like__box
                                            .like__form
                                                span.like__form-heart.material-symbols-outlined favorite_border
                                                span.like__form-number.like__form-number-liked 2
                                        p.comment__bot-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.        
                            .room__rules
                                .room__rules-inner
                                    .room__rules-bullet
                                        h3.room__rules-bullet-title Правила
                                        include pug/components/_bulletlist
                                    .room__rules-cancel
                                        h3.room__rules-cancel-title Отмена
                                        p.room__rules-cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                        .room__payment__form
                            include pug/components/_payment-form

            footer.footer.footer-border
                .container-large
                    .footer__form
                        .container
                            .footer__form-inner-top
                                .footer__logo__info
                                    .header__logo.header-left.footer__logo
                                        a.header__logo-link(href="landing-page.html")
                                            img.header__logo-logo(src=require('./images/header-logo.svg') alt='header-logo')
                                        a.header__logo-link(href="landing-page.html")
                                            img.header__logo-icon(src=require('./images/TOXIN-icon.svg') alt='TOXIN-icon')
                                    .footer__info
                                        p.footer__info-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                                ul.footer__navigation__list
                                    li.footer__navigation__item 
                                        h3.footer__navigation__item-title навигация
                                    li.footer__navigation__item
                                        p.footer__navigation__item-text О нас
                                    li.footer__navigation__item
                                        p.footer__navigation__item-text Новости
                                    li.footer__navigation__item
                                        p.footer__navigation__item-text Служба поддержки
                                    li.footer__navigation__item
                                        p.footer__navigation__item-text Услуги
                                ul.footer__about-us__list
                                    li.footer__about-us__item
                                        h3.footer__about-us__item-title о нас
                                    li.footer__about-us__item
                                        p.footer__about-us__item-text О сервисе
                                    li.footer__about-us__item
                                        p.footer__about-us__item-text Наша команда
                                    li.footer__about-us__item
                                        p.footer__about-us__item-text Вакансии
                                    li.footer__about-us__item
                                        p.footer__about-us__item-text Инвесторы
                                ul.footer__support__list
                                    li.footer__support__item
                                        h3.footer__support__item-title Служба поддержки
                                    li.footer__support__item
                                        p.footer__support__item-text Соглашения
                                    li.footer__support__item
                                        p.footer__support__item-text Сообщества
                                    li.footer__support__item
                                        p.footer__support__item-text Связь с нами
                                ul.footer__subscription__list
                                    li.footer__subscription__item
                                        h3.footer__nsubscription__item-title Подписка
                                    li.footer__subscription__item
                                        p.footer__subscription__item-text Получайте специальные предложения и новости сервиса
                                    li.footer__subscription__item
                                        .footer__subscription-textfield
                                            .subscription-textfield__form
                                                input.input__textfield(type="text" placeholder="Email")
                                                span.material-icons-outlined.subscription-textfield__arrow arrow_forward
                            .footer__form-inner-bottom.landing-page__footer-inner-bottom
                                .footer__copyright
                                    p.footer__copyright-text Copyright © 2018 Toxin отель. Все права защищены.
                                .footer__social
                                    a(href="#").fa-brands.fa-twitter.footer__social-icon
                                    a(href="#").fa-brands.fa-square-facebook.footer__social-icon
                                    a(href="#").fa-brands.fa-instagram.footer__social-icon   
        